body {
	height: 100%;
}

h1 {
	font-size: 11em;
	text-align: center;
	margin: auto;
}

#message {
	width: 100%;
	font-size: 6em;
	color: #aaa;
	text-align: center;
	margin: auto;
	border: 0;
}

#time {
	width: 100%;
	text-align: center;
	font-size: 8em;
	color: #354674;
	font-weight: bold;
	display: table;
	margin: 10% auto;
}

#day, #hr, #min, #sec, #ms {
	float: left;
}

#day {
	width: 20%;
}

#hr {
	width: 24%;
}

#min {
	width: 20%;
} 

#sec {
	width: 20%;
}

#ms {
	width: 16%;
}

@media all and (max-width: 1000px) {
	#time {
		font-size: 5em;
	}
}
@media all and (max-width: 850px) {
	#time {
		font-size: 4em;
	}
}
@media all and (max-width: 650px) {
	h1 {
		font-size: 6em;	
	}
	#message {
		font-size: 3em;
	}
	#time {
		font-size: 2em;
	}
}
@media all and (max-width: 400px) {
	h1 {
		font-size: 5em;
	}
	#message {
		font-size: 2.5em;
	}
	#time {
		font-size: 1.5em;
	}
}
