<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache"/> 
	<meta http-equiv="expires" content="0"/> 
	<meta http-equiv="pragma" content="no-cache"/>
	<meta property="og:title" content="HEEK.KR [{{ entry }}]" />
	<meta property="og:description" content="{{ time }}" />
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>HEEK.KR</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='heek.min.css') }}">
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
	<div id="box" style="background-color: rgb(251, 223, 85); border: 4px dashed rgb(222, 188, 42); padding: 16px; font-size: 2em; line-height: 1.6em; margin-bottom: 8px; text-align: center; display: none; cursor: pointer;"><span style="font-weight: 700">[클릭] 제9회 앱-잼</span><br><span id="box-text"></span></div>
	<h1>히-익</h1>
	<form action={{ url_for('submit_entry') }} method=post>
	<input type=text id=message name=message value="{{ entry }}">
	</form>
	<h3 id="time"></h3>

	DNS powered by: 안정적인 DNS서비스 <a href="http://www.dnsever.com" target="dnsever"><font color="#1111f1">DNS</font><font color="#f11111">Ever</font></a>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48821476-1', 'heek.kr');
  ga('send', 'pageview');
</script>
</body>
</html>
